div {
    /* overflow-wrap: break-word;  */
    white-space: normal;
    text-align: right; 
    vertical-align: text-top;
    box-sizing: border-box;    
}

.Main-table {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr repeat(5, 3fr); 
   
    justify-content: flex-start;    
    position: relative;
    /* width: 97%; */
    height: 75vh; 

    box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.15); 
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 50px;

    overflow: auto;
  
}


.cell {
    padding: 10px;
    border-bottom: 1px solid #c2c2c2;
    position: relative;
    text-align: right;
}
.hcell {
    color:black;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    position: relative;
    /* letter-spacing: 0.01em; */
    /* line-height: 20px; */
    background-color: #f7f7f7;
    text-align: center;  
    position: relative; 
}
.one {
    background-color: #e5ecda;
}
.two {
    background-color: #c6d8ae;
}

.three {
    background-color: #1b925a;
    color: white;
}

.two-down {
    position: absolute;
    border-style: solid;
    border-color: transparent transparent transparent #1b925a;
    border-width: 12px 0 12px 15px;
    top: 40%;
    left: 0;
}

.two-up {
    position: absolute;
    border-style: solid;
    border-color: transparent #e5ecda  transparent transparent;
    border-width: 12px 15px  12px 0;
    top: 40%;
    right: 0;
}

.three-up {
    position: absolute;
    border-style: solid;
    border-color: transparent #c6d8ae  transparent transparent;
    border-width: 12px 15px  12px 0;
    top: 40%;
    right: 0;
}

.one-down {
    position: absolute;
    border-style: solid;
    border-color: transparent transparent transparent #c6d8ae;
    border-width: 12px 0 12px 15px;
    top: 40%;
    left: 0;
}